
<div id="character-art">
        <div id="stack-art-on-top"> 
            <%= image_tag @card.background_image_url %>
            <%= image_tag @card.character_image_url %> 
            <%= image_tag @card.effect_image_url %> 
        </div>
</div>