
<% if @card.transformation_chain.length == 1 %>
<% return end %>

<div id="transformation-container">
    <div class="header-section"> 
            <p class="header-section-text"> 
                Transformations
            </p> 
    </div>
    
    <div class="information-section">
        <% if @card.transformation_chain.any? %>
            <% @card.transformation_chain.each do |card| %>
                <div class="transformation-card">

                    <%= link_to (render 'card_thumb', card: card), card %>

                    <div class="transformation-condition-text">
                        <%  unless card.transformation_to&.description.nil? %>
                            <b> Condition: </b>
                            <p data-eza-change-target="transformationCondition"
                                class="information-section-text"> 
                                <%=  card.transformation_to&.description %> <p>

                        <% end %>
                    </div>
                </div>
                <br>
            <% end %>
        <% end  %>
    </div>
</div>