/* _character_preview.html.erb */

#character-preview{
    background-color: #263238;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#character-preview .char-info{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#character-preview .char-info h1{
    color: white;
    font-weight: 1000;
    font-size: 28px;
}

#character-preview .character-thumb{
    transform: scale(1.1);
    margin-left: 30px;
}