

<div class="application-main-display-box">
    <div id="link-img">
        <%= render 'link', link: @link %>
    </div>
    
    <div id="card-container">
        <% @link.cards.each do |card| %>
            <% unless card.id.to_s.starts_with?("1") %>
                <% next %>
            <% end %>

        <div class="char-display-box">
            <%= link_to (render 'cards/card_thumb', card: card), card %>
            <%= link_to card do %>
                <div class="characters-name">
                    <%= card.id %>
                </div>
            <% end %>
            
        </div>

        <% end %>
    <div>
    
</div>