

<div id="card-index-box">
    <div id="link-img">
        <%= render 'link', link: @link %>
    </div>
    
    <div id="card-container">
        <% @link.cards.each do |card| %>
            <% unless card.id.to_s.starts_with?("1") %>
                <% next %>
            <% end %>

        <div class="char-display-box">
            <%= render 'cards/card_thumb', card: card %>
            <div class="characters-name">
                <%= link_to card.id, card %>
            </div>
        </div>

        <% end %>
    <div>
    
</div>