#transformation-container{
  background-color: e;
}
.transformation-card{
    padding: 10px 15px;
    background-color: #222c31;
    color: white;
    display: flex;

    gap: 30px;
}

.transformation-character-name {
  padding-bottom: 10px;
  padding-left: 15px;
}

.transformation-condition-text{
  padding-bottom: 10px;
}