
<div class="character-thumb"> 
    <div class="character-base">
        <%= image_tag card.get_base_url %>
    </div>

    <div class="character-thumbnail">
        <%= image_tag card.thumb_image_url %> 
    </div>

    <div class="character-rarity">
        <%= image_tag card.get_rarity_url %>
    </div> 
                
    <div class="character-type">
        <%= image_tag card.get_type_url %>
    </div> 
</div>
                    