<h1> Viewing all cards </h1>


    <div id="card-container">
        <% @cards.each do |card| %>
            <% unless card.id.to_s.start_with? "1" %>
                <% next %>
            <% end %>

        <div class="char-display-box">
            <%= image_tag card.thumb_image_url %>
            <%= link_to card.name, card %>
        </div> 
              
        <% end %>
        
    </div>
    
