/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Quick visual test to confirm the asset pipeline is serving this file. */

body {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1480px) {
  body {
    padding: 0 3rem;
  }
}

@media (min-width: 1920px) {
  body {
    padding: 0 5rem;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}

#left-container {
    grid-column: 1;
}

#right-container {
    grid-column: 2;
}

/* Across all files almost */
.header-section {
    background-color: #263238;
}

.header-section-text{
    color: white;
    padding: 15px;
    font-size: 24px;
    font-weight: 1000;
}

.information-section{
    padding: 15px;
    background-color: #222c31;
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 18px;
    margin-top: 4px;
}

#release_date {
    font-size: 18px;
}
/* ================================ */
#optimal-awakening-routes,
#character-art,
#character-preview,
#leader-skill,
#passive-skill,
#categories,
#links,
.super-attacks,
#active-skill,
#stand-by, #awakening-container,
#transformation-container {
    border: 4px solid #263238;
    margin: 10px
}


#optimal-awakening-routes{
    display: flex;
    gap: 25px;
    padding: 10px;
    background-color: #263238;
}

.optimal-change-button{
    height: 70px;
    width: 30%;
    background-color: #222c31;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.optimal-change-button:hover{
    background-color: white;
    color: #263238;
}

/* General text styling */
.separate-section-header{
    font-style: italic;
    background-color: black;
    color: wheat;
}


/* _passive_skill.html.erb */


/* _specials.html.erb */
.super-attacks{
}

/* Bottom part */
#links, #categories {

}

#awakening-container {

}

/* FOR CATEGORY  */

#card-container{
    display: flex;
}
.char-display-box{
    padding: 15px;
}