/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Quick visual test to confirm the asset pipeline is serving this file. */
h1 {
    color: teal;
}


.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}

#left-container {
    grid-column: 1;
}

#right-container {
    grid-column: 2;
}







#optimal-awakening-routes,
#character-art,
#character-preview,
#leader-skill,
#passive-skill,
#categories,
#links,
.super-attacks,
#active-skill,
#stand-by,
.card-transformations {
    border: 2px solid black;
    margin: 10px
}

li {
    padding: 0px;
    margin: 0px; 
}

#optimal-awakening-routes{
    display: flex;
    justify-content: space-between;

}

.optimal-change-button{
    height: 70px;
    width: 30%;
}

/* General text styling */
.separate-section-header{
    font-style: italic;
    background-color: black;
    color: wheat;
}

.separate-section-text{

}

/* _character_preview.html.erb */
#character-preview {
    display: flex;
}

#character-preview .char-info{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

/* _leader_skill.html.erb */
#leader-skill {
    padding: 10px;
}

/* _passive_skill.html.erb */
#passive-skill {
    padding: 10px;
}

/* _specials.html.erb */
.super-attacks{
    padding: 10px;
}

/* Bottom part */
#links, #categories {
    padding: 10px;
}


/* FOR CATEGORY  */

#card-container{
    display: flex;
}
.char-display-box{
    border: 2px solid black;
}