

<div class="application-main-display-box">
    <div id="main-display-box-header"> Categories 
    </div>

    <div id="search-bar">
        <%= form_with url: categories_path, method: :get, local: true do |f| %>
                <%= f.text_field :search, placeholder: "Search categories...", id: "search-input" %>
                <%= f.submit "Search", id: "search-submit" %>
        <% end %>
    </div>

    <div class = "lc-container">
        <% @categories.each do |category| %>
            <%= link_to image_tag(category.get_category_img(category.id)), category %>
        <% end %>
    </div> 


</div>

