
<% unless @card.active_id.nil?%>
    <div id="active-skill">

        <div class="header-section">
            <p class="header-section-text"> 
                Active Skill | <%= @card.active.active_skill_name %>
            </p> 
            
        </div>
        
        <div class="information-section">
            <b>Condition: </b>
            <p  class="information-section-text">
                <%= @card.active.active_skill_condition %>
            </p>  

            <hr>
            
            <p  class="information-section-text">
                <%= @card.active.active_skill_effect %>
            </p> 

                

            

        </div>

    </div>

<% end %>