

<div id="categories">
    <div class="header-section"> 
        <p class="header-section-text"> 
            Categories 
        </p> 
    </div>

    <div class="information-section categories-container">
        <% @card.categories.each do |category| %> 
            <%= link_to image_tag(category.get_category_img(category.id)), category %>
        <% end %>
    </div>

</div>