
<div id="character-preview">
    <div> <%= image_tag @card.thumb_image_url %> </div>
    <div>
        <div> <h2> <%= @card.title %> </h2> </div>
        <div> <h3> <%= @card.name  %> </h3> </div>
    </div>
</div>