

<div id="leader-skill">
    <div class="header-section">
        <p data-eza-change-target="leaderSkillHeader" 
            class="header-section-text">
            Leader skill  </p>
    </div>

    <div class="information-section"> 
        <p data-eza-change-target="leaderSkill"
            class="information-section-text">
            <%= @card.leader_skill %> 
        </p> 
    </div>

</div>