

<div id="leader-skill">
    <div>   <!-- This should be class="separate-section-header" -->
        <p data-eza-change-target="leaderSkillHeader" 
            class="separate-section-header">   <!-- This should be class="separate-section-header-text" -->
            Leader skill  
        </p>
    </div>

    <div>  <!-- This should be class="separate-section" -->
        <p data-eza-change-target="leaderSkill"
            class="separate-section-text">
            <%= @card.leader_skill %> 
        </p> 
    </div>

</div>