

<div id="leader-skill">
    <div> 
        <p data-eza-change-target="leaderSkillHeader"> Leader skill  </p>  
    </div>

    <div> 
        <p data-eza-change-target="leaderSkill">
            <%= @card.leader_skill %> 
            </p> 
    </div>

</div>