

<div id="links">
    <div class="header-section">
        <p class="header-section-text"> 
            Links 
        </p> 
    </div>

    <div class="information-section links-container">
        <% @card.links.each do |link| %> 

            <%= link_to link, class: "link-skill-card" do %>
                <%= image_tag '/images/assets/link_skill.png', class: "link-skill-img" %>
                <span class="link-skill-name"><%= link.name %></span>
            <% end %>

        <% end %>

    </div>
</div>
