

<div id="links">
    <div class="header-section">
        <p class="header-section-text"> 
            Links 
        </p> 
    </div>

    <div class="information-section links-container">
        <% @card.links.each do |link| %> 
            <%= render 'links/link', link: link %>
        <% end %>
    </div>
</div>
