
<div id="passive-skill">
    <div> 
        <p data-eza-change-target="passiveSkillHeader"
            class="separate-section-header"> 
            Passive skill | <%= @card.passive_skill_name %> 
        </p> 
    </div>

    <div>
        <p data-eza-change-target="passiveSkill"
            class="separate-section-text"> 
            <%= @card.passive_skill_itemized_desc %>  
        </p>  
    </div>
</div>