
<div id="passive-skill">
    <div class="header-section"> 
        <p data-eza-change-target="passiveSkillHeader" 
            class="header-section-text"> 
            Passive skill | <%= @card.passive_skill_name %> 
        </p> 
    </div>

    <div class="information-section">
        <div data-eza-change-target="passiveSkill"
            class="information-section-text">
            <%= parse_passive_skill(@card.passive_skill_itemized_desc) %>  
        </div>  
    </div>
</div>