
<div id="passive-skill">
    <div> <p data-eza-change-target="passiveSkillHeader"> Passive skill | <%= @card.passive_skill_name %> </p> </div>
    <div> <p data-eza-change-target="passiveSkill"> <%= @card.passive_skill_itemized_desc %>  </p>   </div>
</div>